<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rc.springbootwebjsp.mapper.TeacherMapper">
    <select id="getTeacherById" resultType="com.rc.springbootwebjsp.bean.Teacher">
        select * from teacher where id = #{id}
    </select>

    <insert id="insertTeacher">
        insert into teacher(name,tel,address,grade_id)
        values(#{name},#{tel},#{address},#{gradeId})
    </insert>
</mapper>